/*
Run this file through https://raw.githack.com/ to serve it as text/css instead of text/html.
*/

/* Hide headers even if the header:'hide' JS setting doesn't work:
   http://www.wufoo.com/guides/method-for-not-showing-form-name/  */

/* This is the *correct* way to hide the .info elements, but since it uses
   the HTML5 <header> tag, <=IE9 won't parse any styles unless the tag is
   initialized either in JavaScript or using Modernizr. Since Wufoo doesn't
   bother to do that, we're stuck with... */
.wufoo .info {
  display: none;
}

/* ...this ugly hack. Let's hope there aren't any other <h2> elements! */
.wufoo h2 {
  display: none;
}
